
footer {
    background-color: rgb(143, 151, 121);
    color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}
 
.footer-socialMedia {
    display: flex;
    align-items: center;
}
 
.footer-socialMedia div {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}
 
.footer-contactUs div {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
 
.footer-contactUs div img {
    margin-right: 10px;
}


