*{
    padding: 0;
    margin: 0;
}

.faleConosco{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: black;
    color: white;
    font-size: small;
}

.contato-header, .atendimento-header, .areaCliente-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.areaCliente-header button{
    padding: 05px ;
    background-color: #BDB4A3 ;
    border-radius: 05px;
}

header{
    padding: 01%;
    align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: white;
}

.logo{
    width: 100%;
    text-align: center;
}

.logo-header img{
    width: 100%;
    border-bottom: 1px solid black;
}

nav{
    width: 80%;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: 1.2rem;
}

nav ul li{
    transition: transform 0.1s ease, border-bottom-color 0.5s ease;
}

a{
    text-decoration: none;
    color: black;
}

nav ul li:hover{
    transform: scale(1.2);
    border-bottom: 1px solid black;
}